* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.ig-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.ig-foto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.ig-foto img {
    height: 45rem;
}

.ig-login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.ig-grupo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    margin-top: 1rem;
}

.grupo:nth-child(1) {
    min-height: 19rem;
}

.ig-logo {
    height: 3rem;
}

.ft-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 1rem;
}

.ft-profile img {
    height: 7rem;
}

.ig-log {
    background-color: #0095f6;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    margin-top: 1rem;
}

.ig-logout {
    background-color: #fff;
    color: #0095f6;
    margin-top: 1rem;
}

.not-you {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.download-app {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.download-app:nth-child(1) {
    background-image: url(./img/apple-button.png);
}

.download-app:nth-child(2) {
    background-image: url(./img/googleplay-button.png);
}

footer {
    position: relative;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
}

.pg-footer {
    display: flex;
    position: absolute;
    bottom: 0;
}

.item-footer {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}

@media(max-width: 1024px) {
    .ig-wrapper {
        width: 90%;
        align-items: center;
    }
    footer {
        align-items: center;
    }
}

@media(max-width: 650px) {
    .ig-wrapper {
        width: 90%;
        align-items: center;
    }
    .ig-foto {
        display: none;
    }
    .ig-login {
        width: 100%;
    }
    .ig-grupo {
        background-color: rgb(243, 243, 243);
        border: none;
    }
    .ig-logout {
        background-color: rgb(243, 243, 243);
    }
    footer {
        flex-wrap: wrap;
    }
}

